


.grid-container1 {
    top:0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    border:none;
    font-family: var(--fonts);
    grid-template-rows: auto;
}

.grid-container2 {
    top:0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; 
    border:none;
    font-family: var(--fonts);
    grid-template-rows: auto;
}

.row2 {
    display: none;
    padding-bottom: 20px;  
}

.column1 {
    display: flex;
    justify-content: center;
    width:100%
}


.row {
    padding-bottom: 20px;
}

.logos{
    border:2px solid #000;
    border-radius: 25px;
    width:100%;
}

.logos1{
    display:block;
    border:2px solid    #000;
    border-radius: 25px;
    width:100%;
}

.widget-title {
    text-align: center;
    color:#000;
    text-decoration: none;
    font-size: 18px;
}

.widget a img {
    display: block;
    margin:0 auto;
    max-width: 100%;
    max-height: 150px;
    width: auto;
}

.widget .post-titel {
    font-size:18px;
    font-weight: bold;
}

.widget a.read-more {
    font-style: italic;
}

.widget{
    padding:10px;
    max-width: 100%;
    margin:0;
}

.widget a {
    text-decoration: none;
    color:#000;
    width:100%;
}

.widget a:hover{
    color: var(--rood);
}


@media screen and (min-width: 750px) and (max-width: 1075px) {
    

    .row {
        display: none;
    }

    .row2 {
        display:block;
    }
}

@media screen and (max-width: 750px) {
    
    .row {
        display:block;
    }

    .grid-container1 {
        display: flex;
        flex-direction: column;
    }

    .row2 {
        display: none;
    }
}