.schaal {
    height: 100%;
}

.image-item {
    display:inline-block;
    height: 200px;
    max-width: 400px;
}

.image-item img {
    height: 100%;
}

.afbeeldingen {
    display: inline-block;
}

.afbeeldingen img {
    height: 100px;
    width: auto;
}