


.grid-container1 {
    top:0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    border:none;
    font-family: var(--fonts);
    grid-template-rows: auto;
}

.grid-container2 {
    top:0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; 
    border:none;
    font-family: var(--fonts);
    grid-template-rows: auto;
}

.row2 {
    display: none;
    padding-bottom: 20px;  
}

.column1 {
    display: flex;
    justify-content: center;
    width:100%
}

.row {
    padding-bottom: 20px;
}

.widget {
    display: flex;
    justify-content: center;
}

.logos{
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    width:100%; 
    cursor: pointer;
}

.logos img {
    max-height: 200px;
    width: auto;
}

.logossmb {
    background: linear-gradient(to bottom, transparent 50%, var(--smb));
}

.logosdorst {
    background: linear-gradient(to bottom, transparent 50%, var(--dorst));
}

.logostwirlpower {
    background: linear-gradient(to bottom, transparent 50%, var(--twirlpower));
}

.logosabc {
    background: linear-gradient(to bottom, transparent 50%, var(--abc));
}

.logosmpb {
    background: linear-gradient(to bottom, transparent 50%, var(--dorst));
}

.logoswwb {
    background: linear-gradient(to bottom, transparent 50%, var(--wwb));
}

.logos1{
    display:block;
    border:2px solid    #000;
    border-radius: 25px;
    width:100%;
}


@media screen and (min-width: 750px) and (max-width: 1075px) {
    

    .row {
        display: none;
    }

    .row2 {
        display:block;
    }
}

@media screen and (max-width: 750px) {
    
    .row {
        display:block;
    }

    .grid-container1 {
        display: flex;
        flex-direction: column;
    }

    .row2 {
        display: none;
    }
}