.sponsors {
    font-family: var(--fonts);
    font-size:xx-large;
    color:#fff;
    text-align: center;
    padding:10px;
    height: 30px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Voeg een vaste breedte toe aan de container */
    background-color: #fff;
  }
  
  .carousel {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
  }

  .carousel-item a {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
  }

@media (min-width: 1200px) {
    .carousel-item {
      flex: 0 0 25%; 
    }
}

@media (max-width: 1200px) {
    .carousel-item {
      flex: 0 0 33.33%;
    }
}

@media (max-width: 900px) {
    .carousel-item {
      flex: 0 0 50%;
    }
}



@media screen and ( min-width: 650px) {

    .footer {
        height: 70px;
        width: 100%;
        text-align: center;
    }

    .footer .menu {
        list-style: none;
        padding:0;
        margin: 0;

    }

    .footer .footermenu1{
        position:relative;
        bottom: -50%;
        margin: 0;
        transform: translateY(-50%);
    }

    .footer .menu li {
        display:inline;
    }

    .footer .menu a{
        font-family: var(--fonts);
        padding:10px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size:16    px;
        
    }
}

@media screen and ( max-width: 650px) {

    .footer {
        height: 150px;
        background-color: var(--blauw);
        width: 100%;
        left:0;
        text-align: center;
    }

    .footer .menu {
        list-style: none;
        padding:0;
        margin: 0;

    }

    .footer .footermenu1{
        position:relative;
        margin:0;
        bottom:-16px;   
    }

    .footer .menu li {
        display:block;
        margin:10px;
    }

    .footer .menu a{
        font-family: var(--fonts);
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size:16px;        
    }

    .carousel-item {
        flex: 0 0 100%; /* Toon één item per keer op schermen kleiner dan 480px */
    }
}